.App {
  background-image: url("background.jpg");
  text-align: center;
  /* font-size: 35px; */
  height: 250px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.open_modal_button {
  text-align: center;
  margin-top: 100px;
  margin:100px;
  margin-left: 100px;
}

.App-title {
  font-size: 50px;
}

.write_label {
  margin-bottom: 10px;
}
